name: Compile PDFs

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    container: texlive/texlive:latest

    permissions:
      contents: write

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install fonts
      run: |
        apt update
        apt install --yes \
          fonts-roboto \
          fonts-adobe-sourcesans3 \
          ;

    - name: Compile
      run: make

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Giovanni-CV-PDF
        path: CVs/*.pdf

    # Genera il Tag per Git e il Nome formattato per la Release (con fuso orario italiano)
    - name: Generate Release Info
      id: release_info
      run: |
        echo "tag_date=$(TZ='Europe/Rome' date +'%d-%b-%Y-%H-%M')" >> $GITHUB_OUTPUT
        echo "rel_name=$(TZ='Europe/Rome' date +'%d %b %Y %H:%M')" >> $GITHUB_OUTPUT

    # Crea la Release pubblica su GitHub e allega il PDF
    - name: Publish Release
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: CV-${{ steps.release_info.outputs.tag_date }}
        name: "CV - ${{ steps.release_info.outputs.rel_name }}"
        files: CVs/*.pdf
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}